<!doctype html>
<html>

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  <meta name="author" content="ななみ隣">

  <meta property="og:title" content="＃がーでんいんふぉ@japarilibrary.com" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://kemono-matsuri.japarilibrary.com" />
  <meta property="og:image" content="img/sysimg/ogp.jpg" />
  <meta property="og:site_name" content="じゃぱりとしょかん" />
  <meta property="og:description" content="けもフレがーでんの断片的な情報を集めたページです。公式のアナウンスや、参加者の発信した情報をまとめています！" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@htktkgt" />
  <meta name="twitter:player" content="@htktkgt" />
  <meta name="twitter:description" content="けもフレがーでんの断片的な情報を集めたページです。公式のアナウンスや、参加者の発信した情報をまとめています！">

  <title>けものフレンズがーでん 断片情報一覧</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
    crossorigin="anonymous" media="screen,projection">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <link rel="stylesheet" href="style/style.css">
  <!--Vue.js導入-->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
  <!--遅延読み込み(本体が下の順番守れ！)-->
  <script type="text/javascript" src="js/addLazyloadCss.js"></script>
  <script type="text/javascript" src="js/addDomain.js"></script>
  <script type="text/javascript" src="js/lazysizes.min.js"></script>
  <script type="text/javascript" src="js/externalLinks.js"></script>
  <script type="text/javascript" src="js/kome-red.js"></script>
  <script type="text/javascript" src="js/myScript.js"></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script type="text/javascript" src="js/ga.js" async></script>
</head>

<body id="top" class="yellow lighten-5">
  <div class="container">
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">
            <img src="http://mayonaka.tv/favicon.ico" alt="Bland-logo" />
          </a>
          <ul class="right hide-on-med-and-down">
            <li>
              <h1>#がーでんいんふぉ @けもフレがーでん断片情報</h1>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <h5 class="center-align red white-text darken-2 doujin">このサイトは非公式です。関係各所への問い合わせはご遠慮ください</h5>

    <div class="card">
      <p class="center-align">当ページはPC環境での閲覧を想定しています。スマートフォン、iPhone等の対応はしばらくお待ちください。</p>
    </div>
    <div class="addLazyloadCss">
      <div class="flex-container">
        <div class="flex-item">
          <figure>
            <img src="https://pbs.twimg.com/media/DjQI2IJU4AA1a-v.jpg" alt="goods space" class="responsive-img" />
            <figcaption>タオルやリストバンドなど
              <a href="https://twitter.com/mamedaikichi/status/1023452822770077696" rel="external"></a>
            </figcaption>
          </figure>
        </div>
        <div class="flex-item">
          <figure>
            <img src="https://pbs.twimg.com/media/DjQI2IIUcAAUZA-.jpg" alt="goods space" class="responsive-img" />
            <figcaption>帽子など
              <a href="https://twitter.com/mamedaikichi/status/1023452822770077696" rel="external"></a>
            </figcaption>
          </figure>
        </div>
        <div class="flex-item">
          <figure>
            <img src="https://pbs.twimg.com/media/DjQI2JMV4AAkSy2.jpg" alt="goods space" class="responsive-img" />
            <figcaption>ジョッキや傘など
              <a href="https://twitter.com/mamedaikichi/status/1023452822770077696" rel="external"></a>
            </figcaption>
          </figure>
        </div>
      </div>

      <div id="gardengoods">
        <a id="sect-goods"></a>
        <h4>物販商品</h4>
        <p class="red-text">全て税込価格</p>
        <p>去年の商品はこちらからも購入できます！
          <br />オンラインショップで売り切れになっていてもがーでん物販ブースにて販売されているものもあります！
          <br />
          <a href="https://kemono-friends-shop.net/" rel="external" title="がーでんショップ">けものフレンズがーでんショップ</a>
          <br />
          <a href="https://japaricafe.shop/" rel="external" title="けもフレカフェショップ">けものフレンズカフェショップ</a>
        </p>

        <a id="sect-jug"></a>
        <h6 class="bold">ジョッキ [各種 1,500円]
          <span class="red-text"> ※昨年度販売あり</span>
          <span class="red-text"> ※1日1個限定</span>
        </h6>
        <div id="jug" class="flex-container">
          <gardengoods-item v-for="item in jugGroceryList" v-bind:todo="item" v-bind:target="jug"></gardengoods-item>
        </div>

        <a id="sect-glass"></a>
        <h6 class="bold">ビアグラス [各種 1,500円] ※昨年のものより大きくなりました！(名称も変更されています)
          <a href="https://twitter.com/kemono_matsuri/status/1016264121912721410 " rel="external"></a>
        </h6>

        <div class="">
          <figure>
            <img src="glass/comparison.png " alt="昨年のグラスとの比較 " class="responsive-img" />
            <figcaption>昨年のグラスとの比較</figcaption>
          </figure>
        </div>
        <div id="glass" class="flex-container">
          <gardengoods-item v-for="item in glassGroceryList" v-bind:todo="item" v-bind:target="glass"></gardengoods-item>
        </div>

        <ul>
          <li>冷酒用グラス [1,500円]</li>
          <li>升[1,000円]</li>

          <li>マスクヘッズ [各種 3,000円]</li>
          <ul>
            <li>ラッキービースト</li>
            <li>セルリアン</li>
          </ul>

          <li>コンパクトミラー [各種 1,500円]
            <span class="red-text"> ※昨年度販売あり</span>
          </li>
          <ul style="text-indent:1em;">
            <li>サーバル</li>
            <li>アライさん</li>
            <li>フェネック</li>
            <li>プリンセス</li>
            <li>ジェーン</li>
            <li>イワビー</li>
            <li>コウテイ</li>
            <li>フルル</li>
          </ul>


          <li>歯ブラシ [各種 800円]
            <span class="red-text"> ※昨年度販売あり</span>
          </li>
          <ul style="text-indent:1em;">
            <li>サーバル</li>
            <li>アライさん</li>
            <li>フェネック</li>
            <li>プリンセス</li>
            <li>ジェーン</li>
            <li>イワビー</li>
            <li>コウテイ</li>
            <li>フルル</li>
          </ul>

          <li>
            <span class="new">new</span>ジャンボうちわ [各種 600円]
            <span class="red-text"> ※昨年度販売あり</span>
          </li>
          <ul style="text-indent:1em;">
            <li>サーバル</li>
            <li>アライさん</li>
            <li>フェネック</li>
            <li>プリンセス</li>
            <li>ジェーン</li>
            <li>イワビー</li>
            <li>コウテイ</li>
            <li>フルル</li>
          </ul>

          <li>手ぬぐい [各種 1,000円]</li>
          <ul style="text-indent:1em;">
            <li>2017年度縦版
              <span class="red-text"> ※昨年度販売あり</span>
            </li>
            <li>2017年度横版
              <span class="red-text"> ※昨年度販売あり</span>
            </li>
            <li>2018年度縦版</li>
            <li>2018年度横版</li>
          </ul>

          <li>クリアファイル [各種 350円]
            <span class="red-text"> ※昨年度販売あり</span>
          </li>
          <ul style="text-indent:1em;">
            <li>サーバル</li>
            <li>アライさん</li>
            <li>フェネック
              <span class="red-text bold">※売り切れ中(入荷未定)</span>
            </li>
            <li>プリンセス</li>
            <li>ジェーン</li>
            <li>イワビー</li>
            <li>コウテイ</li>
            <li>フルル</li>
          </ul>

          <li>リストバンド [各種 900円]</li>
          <ul style="text-indent:1em;">
            <li>サーバル</li>
            <li>アライさん</li>
            <li>フェネック</li>
            <li>トキ</li>
            <li>アルパカ・スリ</li>
          </ul>

          <li>巾着 [1,500円]</li>

          <li>木札 [各種 400円]
            <span class="red-text"> ※昨年度販売あり</span>
          </li>
          <ul style="text-indent:1em;">
            <li>サーバル</li>
            <li>アライさん</li>
            <li>フェネック</li>
            <li>プリンセス</li>
            <li>ジェーン</li>
            <li>イワビー</li>
            <li>コウテイ</li>
            <li>フルル</li>
            <li>セルリアン</li>
          </ul>

          <li>メタルチャーム [各種 400円]
            <span class="red-text"> ※昨年度販売あり</span>
          </li>
          <ul style="text-indent:1em;">
            <li>サーバル</li>
            <li>アライさん</li>
            <li>フェネック</li>
            <li>プリンセス</li>
            <li>ジェーン</li>
            <li>イワビー</li>
            <li>コウテイ</li>
            <li>フルル</li>
            <li>セルリアン</li>
          </ul>

          <li>コルクコースター [各種 500円]
            <span class="red-text"> ※昨年度販売あり</span>
          </li>
          <ul style="text-indent:1em;">
            <li>プリンセス</li>
            <li>ジェーン</li>
            <li>イワビー</li>
            <li>コウテイ</li>
            <li>フルル</li>
          </ul>

          <li>お皿 [1,800円]
            <span class="red-text"> ※昨年度販売あり</span>
          </li>

          <li>どんぶりセット [2,500円]</li>

          <li>傘 [2,000円]</li>

          <li>レインコート [2,500円]</li>

          <li>もりのおんがくかい 東京公演2017 Blu-ray [5,000円]</li>

          <li>もりのおんがくかい 東京公演2017 CD [3,000円]</li>
        </ul>
      </div>

      <a id="specialthanks"></a>
      <h4>謝辞 / Special Thanks</h4>
      <div id="spthx">
        <p>この場を借りて、情報・資料・素材提供をいただいた方にお礼を申し上げます。（敬称略・順不同）</p>
        <ul style="text-indent:1em;">
          <thanks-item v-for="item in spthxgroceryList" v-bind:todo="item"></thanks-item>
        </ul>
      </div>
    </div>
    <!--[end]lazyload-->

    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
          &copy;opyright 2018 mayonaka.tv all rights reserved. Editor in chief and Contact :
          <a href="https://twitter.com/htktkgt" rel="external" title="Twitter">ななみ隣@htktkgt</a>
          <br />DO NOT USE for curation sites.
        </div>
      </div>
    </footer>

    <p class="pagetop">
      <a href="#top " data-lb-orig-href="https://mayonaka.tv/kemono_matsuri/index.html#top">
        <i class="material-icons">keyboard_arrow_up</i>
      </a>
    </p>

    <script src="gardengoods.js"></script>
    <script src="spthx.js"></script>
    <script type="text/javascript" src="alternateImage.js"></script>
  </div>