<section id="sect-gardengoods">
  <h2>コラボフード / 景品 / グッズ</h2>
  <section id="sect-foods">
    <h5>フードメニュー</h5>
    <p>
      <a href="http://matsuri-kf-garden.jp/images/menu/kemono_menu2018.pdf" rel="external">クリックして詳細を確認(公式サイトPDF)</a>
    </p>
    <button class="openBtn btn btn-large">表示する</button>
    <div class="textArea">
      <div id="food" class="flex-container">
        <gardengoods-item v-for="item in foodGroceryList" v-bind:todo="item" v-bind:target="food"></gardengoods-item>
      </div>
    </div>
    <p>コラボドリンク、熱燗、（フードは盛り合わせにのみ）にはコースター（第二弾と第三弾）がつきます。フードメニューにコースターはつきません。
      <br />フードの盛り合わせについてくるコースター（4枚）は第一弾のものになります。4枚の中でダブりがないようにしてくれます。
      <br />プリンはカラカルのステッカーが付きます！（コースターじゃないよ！）
    </p>
    <h6>激辛フード</h6>
    <p>店員さんにお願いするとフライドチキン、カレーが激辛になるぞ！ 辛い物好きなフレンズはぜひ挑戦だ！
      <a href="https://twitter.com/kemono_matsuri/status/1048126938491961344" rel="external">公式のお知らせ</a>
    </p>
    <div class="flex-container">
      <div class="flex-item">
        <figure>
          <img src="img/sysimg/bossLoading.jpg" data-src="img/foods/hotFriedChicken-min.png" class="responsive-img" alt="激辛チキン" />
          <figcaption>カライドチキリアン（激辛チキン）
            <a href="img/foods/hotFriedChicken.png" title="100%" rel="nofollow">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </figcaption>
        </figure>
      </div>
      <div class="flex-item">
        <figure>
          <img src="img/sysimg/bossLoading.jpg" data-src="img/foods/hotCurry-min.png" class="responsive-img" alt="激辛カレー" />
          <figcaption>カレェカレリアン（激辛カレー）
            <a href="img/foods/hotCurry.png" title="100%" rel="nofollow">
              <i class="fas fa-expand-arrows-alt"></i>
            </a>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section id="sect-coaster">
    <h5>コースター
      <span>全33種類(9+16+8種類)</span>
    </h5>
    <button class="openBtn btn btn-large">表示する</button>
    <div class="textArea">
      <div id="coaster" class="flex-container">
        <gardengoods-item v-for="item in coasterGroceryList" v-bind:todo="item" v-bind:target="coaster"></gardengoods-item>
      </div>
    </div>
    <!--[end]textArea-->
  </section>

  <section id="sect-kobachi">
    <h5>小鉢
      <span>全21種類(11+5+5種類)</span>
    </h5>
    <button class="openBtn btn btn-large">表示する</button>
    <div class="textArea">
      <div id="kobachi" class="flex-container">
        <gardengoods-item v-for="item in kobachiGroceryList" v-bind:todo="item" v-bind:target="kobachi"></gardengoods-item>
      </div>
    </div>
    <!--[end]textArea-->
  </section>

  <section id="sect-shateki">
    <h5>スタンドパネル（射的・ジャパまん投げ）景品
      <span>全59種類</span>
    </h5>
    <button class="openBtn btn btn-large">表示する</button>
    <div class="textArea">
      <div id="shateki" class="flex-container">
        <gardengoods-item v-for="item in shatekiGroceryList" v-bind:todo="item" v-bind:target="shateki"></gardengoods-item>
      </div>
    </div>
  </section>

  <section id="sect-goods">
    <h5>物販商品</h5>
    <p>去年の商品はこちらからも購入できます！
      <br />オンラインショップで売り切れになっていてもがーでん物販ブースにて販売されているものもあります！
      <br />※物販のみの利用はできません
      <br />
      <a href="https://kemono-friends-shop.net/" rel="external" title="がーでんショップ">けものフレンズがーでんショップ</a>
      <br /><a href="http://matsuri-kf-garden.jp/images/goods/goods_list.jpg" rel="external">公式の物販情報（2018年分）</a>
      <!-- <br />
              <a href="https://japaricafe.shop/" rel="external" title="けもフレカフェショップ">けものフレンズカフェショップ</a> -->
    </p>
    <a href="goods.php" title="物販商品">
      <figure>
        <img src="img/sysimg/bossLoading.jpg" data-src="img/glass/comparison.png" alt="物販商品画像" class="responsive-img" />
        <figcaption class="center-align">
          <button class="btn btn-large">
            物販の取り扱い商品一覧へ
          </button>
        </figcaption>
      </figure>
    </a>
  </section>
</section>